graft docs
graft src
graft ci
graft tests
graft base_test_case
graft data
graft geophires_x_tests
graft geophires_x_tests_shim

include .aiexclude
include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include pytest.ini
include tox.ini

include .pre-commit-config.yaml
include .readthedocs.yml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include INSTALL.rst
include README.rst
include How-to-extend-GEOPHIRES-X.md
include geophires-logo.png
include base_test_case.py
include conftest.py
include HIP.out
include example_multiple_gradients-2.out
include requirements-dev.txt

prune References
prune geophires_sam_economics

global-exclude *.py[cod] __pycache__/* *.so *.dylib
